<header>
    <div class="hero">
        <div class="logo">
            <img src="images/moneydaze-logo.jpg" alt="MoneyDaze" />
        </div>
        <h5>
            An example app written with Blazor
        </h5>
    </div>
    <nav>
        <ul class="main-nav">
            <li>
                <NavLink href="/" Match=NavLinkMatch.All>
                    <span class='glyphicon glyphicon-eye-open'></span> Overview
                </NavLink>
            </li>
            <li>
                <NavLink href="/incomes">
                    <span class="glyphicon glyphicon-arrow-down"></span> Incomes
                </NavLink>
            </li>
            <li>
                <NavLink href="/outgoings">
                    <span class="glyphicon glyphicon-arrow-up"></span> Outgoings
                </NavLink>
            </li>
        </ul>
    </nav>
</header>