body {
    background-color: #f5f5f5;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: #0bc11c;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0bc11c',endColorstr='#076d11');
    background: -webkit-linear-gradient(305deg, #0bc11c 0%, #076d11 100%);
    background: linear-gradient(145deg, #0bc11c 0%, #076d11 100%);
    font-weight: bold;
    text-align: center;
    padding: 200px;
}

.main-nav li .glyphicon {
    margin-right: 5px;
}

header {
    margin-bottom: 50px;
    background-color: #0bc11c;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0bc11c',endColorstr='#076d11');
    background: -webkit-linear-gradient(305deg, #0bc11c 0%, #076d11 100%);
    background: linear-gradient(145deg, #0bc11c 0%, #076d11 100%);
    background-size: cover;
}

.hero {
    position: relative;
    padding: 75px 0 75px;
    text-align: center;
    color: #f7f9fa;
}

    .hero .logo {
        text-align: center;
    }

    .hero h5 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: normal;
        text-transform: uppercase;
    }

.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

    .main-nav li {
        display: inline;
    }

        .main-nav li a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #3c3d47;
            border-radius: 5px 5px 0 0;
            color: #ffffff;
        }

            .main-nav li a.active {
                background-color: #f5f5f5;
                border-radius: 5px 5px 0 0;
                color: #088b14;
                font-weight: bold;
            }

.panel-heading {
    background: #0bc11c;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0bc11c',endColorstr='#076d11');
    background: -webkit-linear-gradient(305deg, #0bc11c 0%, #076d11 100%);
    background: linear-gradient(145deg, #0bc11c 0%, #076d11 100%);
    color: #ffffff;
}

    .panel-heading > h3 {
        color: #ffffff;
        font-weight: bold;
    }

    .panel-heading > h1 {
        font-weight: bold;
        color: #ffffff;
        font-size: 36px;
    }

        .panel-heading > h1 > small {
            float: right;
            font-weight: normal;
            color: #ffffff;
            font-size: 24px;
            padding-top: 12px;
        }

            .panel-heading > h1 > small::after {
                clear: both;
            }

.padding-top-15 {
    padding-top: 15px;
}

.btn-default {
    border-color: #0bc11c;
}

.btn-primary {
    background-color: #088b14;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0bc11c;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .navbar-brand > img {
        display: none;
    }
}

@media (min-width: 768px) {

    .navbar-brand {
        height: auto;
    }

        .navbar-brand > img {
            width: 100%;
        }
}
