@inject IBudgetService BudgetService

<div class="row">
    <div class="col-md-4">
        <input class="form-control" bind="@income.Description" placeholder="Enter Description..." />
    </div>
    <div class="col-md-2">
        <input class="form-control" bind="@income.Amount" placeholder="Enter Amount..." />
    </div>
    <div class="col-md-6">
        <button onclick="@AddIncome" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
        <button onclick="@CancelAddItem" class="btn btn-default"><i class="glyphicon glyphicon-cross"></i> Cancel</button>
    </div>
</div>

@functions {

    [Parameter]
    private Action OnIncomeAdded { get; set; }

    [Parameter]
    private Action OnCancelAdd { get; set; }

    private Income income = new Income();

    protected override void OnInit()
    {
        Console.WriteLine("AddIncomeItem Started...");
    }

    private void AddIncome()
    {
        BudgetService.AddIncome(income);

        OnIncomeAdded?.Invoke();
    }

    private void CancelAddItem()
    {
        OnCancelAdd?.Invoke();
    }

}