@inject AppState  appState
@page "/incomes"

<h1>Incomes</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Income</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var income in appState.Incomes)
                        {
                            <tr>
                                <td>@income.Description</td>
                                <td>£@income.Amount</td>
                                <td class="text-right"><button class="btn btn-default" onclick="@(() => DeleteItem(income.Id))">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (!ShowAddItem)
        {
        <div class="row">
            <div class="col-md-12">
                <button onclick="@ToggleShowAddItem" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
            </div>
        </div>
        }
        @if (ShowAddItem)
        {
            <AddIncomeItem OnIncomeAdded=@IncomeAdded OnCancelAdd=@CancelAdd />
        }
    </div>
</div>

@functions { 

    private bool ShowAddItem { get; set; }

    protected override void OnInit()
    {
        appState.OnChange += StateHasChanged;
    }

    private void ToggleShowAddItem()
    {
        ShowAddItem = !ShowAddItem;
    }

    private void IncomeAdded()
    {
        ToggleShowAddItem();
        StateHasChanged();
    }

    private void CancelAdd()
    {
        ToggleShowAddItem();
        StateHasChanged();
    }

    private async Task DeleteItem(Guid id)
    {
        await appState.DeleteIncome(id);
    }
}