@page "/"
@using MoneyDaze.Services.Contracts

@inject IBudgetService BudgetService

<h1>Overview</h1>

<div class="row">

    @if (BudgetService.TotalIncome == 0)
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Incomes</h3>
                </div>
                <div class="panel-body">
                    <p>You currently have no incomes :(</p>
                    <p>Why don't you <NavLink href="/incomes">add some</NavLink>?</p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Incomes</h3>
                </div>
                <div class="panel-body">
                    Your current incomes totals: <strong>£@BudgetService.TotalIncome</strong>
                </div>
            </div>
        </div>
    }

    @if (BudgetService.TotalOutgoings == 0)
    { 
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Outgoings</h3>
                </div>
                <div class="panel-body">
                    <p>You currently have no outgoings :)</p>
                    <p>Are you sure you don't have <NavLink href="/outgoings">something to add</NavLink>?</p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Outgoings</h3>
                </div>
                <div class="panel-body">
                    Your current outgoings total: <strong>£@BudgetService.TotalOutgoings</strong>
                </div>
            </div>
        </div>
    }

</div>